@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    background-color: rgb(124, 159, 186);
    place-items: center;
  }

  #app {
    
    /* grid-template-columns: 1fr 1fr; */
    padding: 0 2rem;

  }
} 
